#-Main settings----------------------------------------------------------------
ENGINE = 'AMBER-PMEMD'
RE_SETUP = 'yes'
ENGINE_INPUT_BASENAME = 'DMP_US'
AMBER_GROUPFILE = 'groupfile'
VERBOSE = 'no'
#-RE/simulation settings-------------------------------------------------------
BIAS_FILE = 'biasfile'
#-BigJob settings--------------------------------------------------------------
WALL_TIME = 10
COORDINATION_URL = 'redis://ILikeBigJob_wITH-REdIS@gw68.quarry.iu.teragrid.org:6379'
RESOURCE_URL = 'slurm+ssh://radakb@stampede.tacc.xsede.org'
QUEUE = 'development'
TOTAL_CORES = 16
SUBJOB_CORES = 4
PROJECT = 'TG-MCB090174'
#------------------------------------------------------------------------------
