#-Main settings----------------------------------------------------------------
ENGINE = 'AMBER-SANDER'
RE_SETUP = 'YES'
ENGINE_INPUT_BASENAME = 'ace_ala_nme'
ENGINE_INPUT_EXTFILES = 'ace_ala_nme_0.rst7'
VERBOSE = 'NO'
#-RE/simulation settings-------------------------------------------------------
NREPLICAS = 576
BIAS_FILE = 'ace_ala_nme_amberus.biasfile'
NEXCHG_ROUNDS = 1
REPLICA_RUN_TIME = 1
#-BigJob settings--------------------------------------------------------------
WALL_TIME = 5
COORDINATION_URL = 'redis://localhost'
RESOURCE_URL = 'pbs://radakb@chardonnay.rutgers.edu'
QUEUE = 'batch'
TOTAL_CORES = 4
SUBJOB_CORES = 1
#------------------------------------------------------------------------------
