#-Main settings----------------------------------------------------------------
ENGINE = 'AMBER'
RE_SETUP = 'yes'
ENGINE_INPUT_BASENAME = 'DMP_US'
AMBER_GROUPFILE = 'groupfile'
VERBOSE = 'no'
#-RE/simulation settings-------------------------------------------------------
BIAS_FILE = 'biasfile'
NEXCHG_ROUNDS = -5
#-BigJob settings--------------------------------------------------------------
WALL_TIME = 2
CYCLE_TIME = 30
COORDINATION_URL = 'redis://localhost'
RESOURCE_URL = 'pbs://radakb@chardonnay.rutgers.edu'
QUEUE = 'batch'
TOTAL_CORES = 4
SUBJOB_CORES = 1
#------------------------------------------------------------------------------
