#-Main settings----------------------------------------------------------------
ENGINE = 'AMBER'
RE_TYPE = 'AMBERUS'
RE_SETUP = 'yes'
ENGINE_INPUT_BASENAME = 'DMP_US'
ENGINE_INPUT_EXTFILES = 'DMP_US_0.rst7'
NREPLICAS = 4
VERBOSE = 'no'
#-RE/simulation settings-------------------------------------------------------
BIAS_FILE = 'biasfile'
NEXCHG_ROUNDS = -5
#-BigJob settings--------------------------------------------------------------
WALL_TIME = 2
CYCLE_TIME = 10
COORDINATION_URL = 'redis://localhost'
RESOURCE_URL = 'pbs://radakb@chardonnay.rutgers.edu'
QUEUE = 'batch'
TOTAL_CORES = 4
SUBJOB_CORES = 1
#------------------------------------------------------------------------------
